/*body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
  }
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.upper-section {
    
}
/*Header Section Starts Here*/

/*upper header part*/

.upperheader {
    background-color: #1F2937;
    display: flex;
}

.upperheaderpic {
    color: #F9FAF8;
    font-weight: bold;
    font-size: 24px;
    padding-left: 10px;
}

.header-links {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 10px;
}

a {
    text-decoration: none;
    color: white;
}

/*lower header part*/

.lower-header {
    background-color: #1F2937;
    display: flex;
}

.lower-header-text1,
.lower-header-text2 {
    color: white;
}

ul {
    list-style-type: none;
}

.lower-header-text1 {
    font-size: 48px;
    font-weight: bolder;
    color #F9FAF8;
    width: 350px;
}

.lower-header-text2 {
    font-size: 18px;
    color: #E5E7EB;
    width: 450px;
}

.placeholder {
    width: 500px;
    height: 200px;
    background-color: grey;
    color: red;
    text-align: center;
}

.placeholder-text {

}

.lower-header-button {
    padding: 16px 8px;
}

.b1 {
    background-color: #3882f6;
    padding: 4px 20px;
    color: #E5E7EB;
    border: none;
    text-align: center;
    border-radius: 4px;
}
/* Middle Section Starts Here*/

/*upper content*/
.upper-content {
    background-color: white;
    display: flex;
}

/*lower content*/
.lower-content {
    background-color: white;
    display: flex;
}

.footer{
   background-color: #1F2937;
   display: flex;
}